# To separate your traces from other application
LANGSMITH_PROJECT=rag-research-agent

# The following depend on your selected configuration

# LLM choice:
ANTHROPIC_API_KEY=....
FIREWORKS_API_KEY=...
OPENAI_API_KEY=...

# Retrieval provider

## OpenSearch:
OPENSEARCH_URL=...
OPENSEARCH_INDEX=...
OPENSEARCH_USE_IAM=true
OPENSEARCH_SERVICE=aoss
OPENSEARCH_USER=...
OPENSEARCH_PASSWORD=...

## Elastic cloud:
ELASTICSEARCH_URL=...
ELASTICSEARCH_API_KEY=...

## Elastic local:
ELASTICSEARCH_URL=http://host.docker.internal:9200
ELASTICSEARCH_USER=elastic
ELASTICSEARCH_PASSWORD=changeme

## Pinecone
PINECONE_API_KEY=...
PINECONE_INDEX_NAME=...

## Mongo Atlas
MONGODB_URI=... # Full connection string

# Bedrock (use AWS credentials + region)
AWS_REGION=ap-northeast-1
AWS_DEFAULT_REGION=ap-northeast-1
